<!DOCTYPE HTML>
<html>
	<head>
		<title>{{siteName.siteName.siteName}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ asset('css/main.css') }}">
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">
				<div id="header">
						<div class="inner">
							<header>
								<h1><a href="{{path('homepage')}}" id="logo">{{siteName.siteName.siteName}}</a></h1>
							</header>
						</div>
					<!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>
                                    <a href="#">Gallery</a>
                                    <ul>
                                        <li><a href="#">Visualizations</a></li>
                                        <li><a href="#">Hand Made</a></li>
                                        <li><a href="#">Drawings</a></li>
                                        <li>
                                            <a href="#">Product &hellip;</a>
                                            <ul>
                                                <li><a href="#">Pillows</a></li>
                                                <li><a href="#">Bags</a></li>
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li><a href="left-sidebar.html">About Lama</a></li>
                                <li><a href="right-sidebar.html">Contact Me</a></li>
                            </ul>
                        </nav>

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						{% block body %}
						{% endblock body %}

					</div>

				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
					
						<div class="row">
							<div class="12u">

								<!-- Contact -->
									<section class="contact">
										<ul class="icons">
                                    {% if socialMedias.socialMedia.social  is defined %}
										{% for social in socialMedias.socialMedia %}
										<li><a href="{{social.href}}" class="{{social.iconclass}}"><span class="label">{{social.name}}</span></a></li>
										{% endfor %}
                                    {% else %}
                                        {{socialMedias.socialMedia.name}}
                                    {% endif %}
										</ul>                                
									</section>
								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: Ali Mhanna</a></li></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>
		</div>
		<!-- Scripts -->
            <script src="{{ asset('js/jquery.min.js') }}"></script>      
            <script src="{{ asset('js/jquery.dropotron.min.js') }}"></script>      
            <script src="{{ asset('js/jquery.scrolly.min.js') }}"></script>      
            <script src="{{ asset('js/jquery.onvisible.min.js') }}"></script>      
            <script src="{{ asset('js/skel.min.js') }}"></script>      
            <script src="{{ asset('js/util.js') }}"></script>      
            <script src="{{ asset('js/main.js') }}"></script>  

	</body>
</html>